/* Arquivo CSS com alguns parâmetros extras */

.size-adjust {
	width: 3%
	height: 3%;
	}

.dark-theme{
	background-color:#121211;
	}

.image-portrait{
	border-radius: 50%;
	width: 155px;
	height: auto;
}

.search-bar-format{
	padding-right: 1px;
}

